
# Miscellaneous
.DS_Store
*.orig
*.swp
*.log
*.class
*.pyc
.atom/
.buildlog/
.history
.svn/


# IntelliJ related
*.iml
*.ipr
*.iws
.idea/


# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

lib/generated_plugin_registrant.dart # Web related
app.*.symbols # Symbolication related
app.*.map.json # Obfuscation related

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release


# npm/pnpm
/node_modules/
